*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/bg-pattern-card.svg);
    background-size:600%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.container {
    background-color: aliceblue;
    padding: 100px;
    width: 400px;
    height: 500px;
    display: flex;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    animation-name: card;
    animation-duration: 1s;
}
.container::before {
    content: "";
    background-image: url(images/bg-pattern-card.svg);
    background-size: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: 2;
    border-top-radius:10px;
}
.container::after {
    content: "";
    background-color: rgb(203, 195, 195);
    background-color: rgb(203, 195, 195);
    position: absolute;
    bottom: 190px;
    left: 0;
    width: 100%;
    height: 2px;
    z-index: 2;

}
.container img{
    border-radius: 50%;
    border: 5px solid white;
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.name{
    position: relative;
    top: 120px;
    left: 45px;
    font-size: 20px;
}
.age{
    color: gray;
    position: relative;
    left: 165px;
    top: 96px;
    font-size: 20px;
    font-weight: bold;
}
.location{
    color: gray;
    font-size: 15px;
    position: relative;
    left: 75px;
    top: 110px;
}
.info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10PX;
    position: relative;
    top: 220px;
    left: -5px;
}
.info h4{
    margin-right: 10px;
    position: relative;
    left: -75px;
    top: -40px;
    font-size: 30px;
    background-color: #c8c6c6;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info p{
    color: gray;
    font-size: 15px;
    position: relative;
    top: 10px;
    left: -145px;
}
.container:hover{
    cursor: pointer;
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.5);
    transform:rotateX(5deg), rotateY(5deg);
    transition: all 0.5s ease-in-out;
}
.container:active{
    transform: rotate(360deg);
}
@keyframes card {
    0%{
        transform: scale(0);
    }
    80%{
        transform: scale(1);
    }
}
@media screen and (max-width: 600px) {
    .container{
        transform: scale(0.8);
    }
}

