*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(images/pattern-background-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    width: 400px;
    height: 600px;
    margin: 50px auto;
    position: relative;
}
h2{
    position: absolute;
    top: 225px;
    z-index: 1;
}
img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    position: absolute;
    top: 0;
    left: 0;
}
.parent > p{
    position: absolute;
    width: 80%;
    text-align: center;
    top: 265px;
    left: 45px;
    color: hsl(224, 23%, 55%);
    font-size: 15px;
}

.info{
    position: absolute;
    width: 80%;
    height: 100px;
    top: 345px;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(225, 100%, 98%);
    border-radius: 10px;
}
.info img{
    width: 50px;
    margin: 25px 0;
    position: absolute;
    top: -5px;
    left: 20px;
}
.info-1{
    position: absolute;
    top: 25px;
    left: 95px; 
    color: hsl(223, 47%, 23%);
}
.info-2{
    position: absolute;
    top: 45px;
    left: 90px;
    font-weight: 900;
    color: hsl(223, 47%, 23%);
}
.info a{
    position: absolute;
    top: 32px;
    right: 20px;
    color: hsl(245, 75%, 52%);
    font-weight: 900;
}
.bottom{
    position: absolute;
    width: 80%;
    height: 100px;
    top: 460px;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    font-weight: 900;
}
.bottom button{
    width: 80%;
    height: 40px;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    margin: 20px 0;
    cursor: pointer;
}
.bottom a{
    text-decoration: none;
}
.bottom button:active{
    background-color: hsl(224, 23%, 55%);
}
.info a:active{
    color: hsl(224, 23%, 55%);
}
.parent:hover{
    box-shadow: 0 0 10px 10px hsl(224, 23%, 55%);
}
