* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-image: url(image/fire.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    position: relative;
    width: 400px;
    height: 500px;
    padding: 40px;
    background-size: auto;
    border-radius: 10px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 1000;
    background: rgba(218, 204, 204, 0.2);
    backdrop-filter: blur(5px);
    animation: myAnim 2s ease 0s 1 normal backwards;
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

h2 {
    position: absolute;
    top: 45px;
    left: 48%;
    transform: translateX(-50%);
    color: #F0F8FF;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    background: transparent;
    padding: 9px;
    border-radius: 10px;
}

.input-box {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    z-index: 1001;
}

.input-box input {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #ecdddd;
    outline: none;
    background: transparent;
    color: #F0F8FF;
}

.input-box input::placeholder {
    color: #F0F8FF;
}

.input-box label {
    font-weight: bold;
    color: #F0F8FF;
}

.input-box span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 20px;
    color: #F0F8FF;
    transition: 0.5s;
}

button {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background: #03a9f4;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 30px;
}

button:hover {
    background: #1cb1f5;
}

button:active {
    background: #039be5;
}

.remember-forgot {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #F0F8FF;
    font-size: 14px;
}

.remember-forgot a {
    color: #0083d1;
    margin-left: 5px;

}

.login-register {
    position: absolute;
    bottom: 50px;
    color: #F0F8FF;
    font-size: 14px;
}

.login-register a {
    color: #0083d1;
    margin-left: 5px;
}