* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #262c4b;
    height: 100vh;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    animation: forwards fadeIn 2s ease-in;
}

.card {
    grid-column: span 3 / span 3;
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 120%;
    background-color: #282544;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    top: 10%;
    left: 0;
}

.card-image img {
    width: 50%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0%;
    object-fit: cover;
    background-color: #8f62af;
    mix-blend-mode: color-dodge;
    filter: brightness(100%) contrast(100%);

}

.card-content {
    padding: 10px;
    font-size: 14px;
    line-height: 1.4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    top: 8%;
    left: 5%;

}

.card-content h1 {
    font-size: 30px;
    margin-bottom: 15px;
    width: 40%;
}

.card-content p {
    color: #9494a1;
    margin-bottom: 20px;
    width: 40%;
    font-size: 16px;
}

.stats {
    display: flex;
    justify-content: space-around;
    width: 40%;
    height: auto;
}

.stats div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    margin-right: 50px;
}

span {
    color: #a664d5;
    font-size: 32px;
    margin-bottom: 5px;
}

.card:active {
    transform: scale(0.85);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}